#shape {
    width: 250px;
    height: 200px;
    background-color: steelblue; /* Changed to a deeper shade */
    border-radius: 10%;
    position: relative;
}

body {
    background: linear-gradient(to bottom right, #232B2B 40%, #6A5ACD 60%); /* Dark slate with purple */
    height: 96vh;
}

h1 {
    color: lightcoral; /* Warmer tone */
    text-align: center;
}

p {
    color: mediumseagreen; /* Fresh green */
    text-align: center;
}

#result {
    color: deepskyblue; /* Bright and attention-grabbing */
    text-align: center;
}
